.navbar {
	background-color: rgb(251, 87, 49);
}

.icons {
	color: #fff;
	font-size: 35px;
}

.logo {
	filter: brightness(1000%);
	max-width: 150px;
}

.text {
	padding: 0.5em 1em;
}

.button {
	background-color: rgb(251, 87, 49);
}
